{% extends 'schedule/base.html' %}

<!— base.html block content goes below -->
{% block content %}
<h2>{{ course.title }}</h2>
<p>{{ course.info }} courses</p>
<p>Price: {{ course.price }}</p>
<p>Course duration: {{ course.duration_months }} months</p>
<h2>Teachers</h2>
{% for teacher in course.teacher.all %}
<p><a href="/schedule/teacher_details/{{teacher.id}}">{{ teacher.name }} {{teacher.surname}}</a></p>
{% endfor %}
<h2>Already Studying</h2>
{% for student in course.student_set.all %}
<p>{{ student.name }} {{student.surname}}</p>
{% endfor %}
<a href="{% url 'main' %}">Go back to the list of courses</a>
{% endblock %}